
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0;
}

// --------------------------------------------------
// z-indices
// --------------------------------------------------
$z-1 : 100;
$z-2 : 500;
$z-3 : 1000;
$z-4 : 1500;
$z-5 : 2000;
$z-modal-overlay : 5000;
$z-modal : 5500;

// --------------------------------------------------
// colors
// --------------------------------------------------
$red  : #f33;
$gray : #666;
$lightgray : lighten(#666, 30%);
$superlightgray : #ece9e9;

$blue       : #336699;
$dark-blue  : darken(#336699, 10%);
$light-blue : lighten(#336699, 10%);

// --------------------------------------------------
// variables
// --------------------------------------------------
$default-text-color: lighten($gray, 10%);
$dash-width-sm: 250px;
$dash-width-lg: 350px;

// --------------------------------------------------
// animations
// --------------------------------------------------

// -------------grow
@keyframes grow-sm {
  from { width: 0; }
  to   { width: $dash-width-sm; }
}
@keyframes grow-lg {
  from { width: 0; }
  to   { width: $dash-width-lg; }
}

// -------------shrink
@keyframes shrink-sm {
  from { width: $dash-width-sm; }
  to   { width: 0; }
}
@keyframes shrink-lg {
  from { width: $dash-width-lg; }
  to   { width: 0; }
}

// -------------fade
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fade-out-end {
  0%   { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

// -------------draw
@keyframes draw-vertical {
  from { height: 0; }
  to   { height: 100vh; }
}

@keyframes draw-horizontal {
  from { width: 0; }
  to   { width: 100%; }
}


// -------------draw
@keyframes shift-right {
  from { left: 75px; }
  to   { left: 380px; }
}
@keyframes shift-left {
  from { left: 75px; }
  to   { left: -240px; }
}

// ******---------------------------------------------
// ******---------------------------------------------
// STYLING
// ******---------------------------------------------
// ******---------------------------------------------

.fadeout {
  opacity: 1;
  animation: .5s ease-in-out 0s fade-out !important;
  animation-fill-mode: forwards !important;
}

.hidden {
  opacity: 0;
}

// TODO - move this or make sure the npm module has it and works
.popover {
  width: max-content;
}

@media screen and (min-width: 1048px) {
  #arjun-portfolio-main {
    
  }
}
