body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

// --------------------------------------------------
// z-indices
// --------------------------------------------------
$z-1 : 100;
$z-2 : 500;
$z-3 : 1000;
$z-4 : 1500;
$z-5 : 2000;

// --------------------------------------------------
// colors
// --------------------------------------------------
$red  : #f33;
$gray : #666;

$blue       : #336699;
$dark-blue  : darken(#336699, 10%);
$light-blue : lighten(#336699, 10%);

// --------------------------------------------------
// variables
// --------------------------------------------------
$default-text-color: lighten($gray, 10%);



#arjun-portfolio-main {
  // ------------
  // Landing CSS
  // --------------------------------------------------
  .landing {
    position: relative;
    top: 200px;
    margin: auto;
    text-align: center;
    width: 400px;
    transition: opacity 1s ease-in-out;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    >.header {
      width: 350px;
      margin: auto;
      font-size: 48px;
      letter-spacing: 15px;
      text-indent: 15px;
      color: $blue;
      opacity: 1;
      transition: opacity 1s ease-in-out;

      &.hidden {
        opacity: 0;
      }
    }

    >.subheader {
      margin-top: 15px;
      color: $default-text-color;
      opacity: 1;
      transition: opacity 1s ease-in-out;

      &.hidden {
        opacity: 0;
      }

      &:hover > .dash {
        width: 400px;
      }

      &.hidden:hover > .dash {
        width: 0px;
      }

      .enter {
        z-index: $z-2;
        background: white;
        width: max-content;
        margin: auto;
        position: relative;
        padding: 0 10px;
        cursor: pointer;
        transition: opacity .2s;

        &:active {
          transition: all .2s;
          transform: scale(.95);
          color: $gray;
        }
      }

      .dash {
        width: 350px;
        margin: auto;
        position: relative;
        bottom: 7px;
        border-top: 1px solid $blue;
        z-index: $z-1;
        transition: width .75s;

        &.hidden {
          width: 0;
        }

        &:hover {
          width: 400px;
        }
      }
    }
  }

  // -----------
  // Profile CSS
  // --------------------------------------------------
  .profile {
    margin: auto;
    position: relative;
    top: 200px;
    opacity: 1;
    transition: all .5s ease-in-out;

    &.hidden {
      opacity: 0;
    }

    >.sidebar {
      height: 100vh;
      width: 300px;
      position: fixed;
      left: 0;
      top: 0;
      background: $dark-blue;
      //
      // >.first-name {
      //   position: relative;
      //   top: 330px;
      //   color: white;
      //   font-size: 48px;
      //   font-weight: 400;
      //   left: 25px;
      // }
      // >.last-name {
      //   position: relative;
      //   top: 340px;
      //   color: white;
      //   font-size: 48px;
      //   font-weight: 400;
      //   left: 140px;
      // }

      >.contact-info {
        position: absolute;
        bottom: 10px;
        width: 240px;
        padding: 15px;
        margin: 15px;
        color: white;

        >.info-item {
          display: flex;
          margin: 15px 0;

          >a, span {
            margin-left: 5px;
            color: white;
          }
        }
      }
    }

    >.profile-img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: fixed;
      top: 50px;
      left: 100px;
    }
  }
}
